<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear Pregunta</title>
</head>

<body>
    <h1>Crear una nueva pregunta</h1>
    <form method="POST" action="/formulario">
        <label for="question_text">Texto de la pregunta:</label>
        <input type="text" id="question_text" name="question_text" required /><br />

        <div id="questions">
            {% for question in questions %}
            <h2>Pregunta: {{ question.text }}</h2>
            <div class="options">
                {% for option in question.options %}
                <div class="option">
                    <label for="option{{ option.id }}">Opción {{ option.id }}:</label>
                    <input type="text" id="option{{ option.id }}" name="option{{ option.id }}" required>
                    <input type="checkbox" id="correct_option{{ option.id }}" name="correct_option{{ option.id }}"
                        value="{{ option.id }}">
                    <label for="correct_option{{ option.id }}">Respuesta Correcta</label><br>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <button type="button" id="add_option">Agregar Opción</button><br /><br />
        <input type="submit" value="Crear Pregunta" />
    </form>

    <script>
        // JavaScript para agregar opciones dinámicamente
        let optionCount = 2;

        document.getElementById("add_option").addEventListener("click", function () {
            optionCount++;
            const questionsDiv = document.getElementById("questions");
            const newQuestion = document.createElement("div");
            newQuestion.innerHTML = `
                <h2>Nueva Pregunta:</h2>
                <div class="options">
                    <div class="option">
                        <label for="new_option${optionCount}">Opción ${optionCount}:</label>
                        <input type="text" id="new_option${optionCount}" name="new_option${optionCount}" required>
                        <input type="checkbox" id="new_correct_option${optionCount}" name="new_correct_option${optionCount}" value="${optionCount}">
                        <label for="new_correct_option${optionCount}">Respuesta Correcta</label><br>
                    </div>
                </div>
            `;
            questionsDiv.appendChild(newQuestion);
        });
    </script>
</body>

</html>